@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF6600;
  --accent: #00B2FF;
  --neutral: #F7F7F9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-neutral: var(--neutral);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #0A0A0A;
  --foreground: #F7F7F9;
  --primary: #FF6600;
  --accent: #00B2FF;
  --neutral: #1A1A1A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
